{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
    <h1> Все новости </h1>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти"/>
    </form>
    <hr>
    {% if news %}
        <table>
            <tr style="background:green; color:white">
                <td>Время </td>
                <td>Заголовок </td>
<!--                <td>Содержимое </td>-->
                <td>Рейтинг </td>
                <td>Автор </td>
                <td>Формат </td>
                <td>Категория </td>
                <td>Open </td>
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.date|date:"d.m.Y" }}</td>
                <td>{{ post.headline | truncatechars:40 }}</td>
<!--                <td>{{ post.content | truncatechars:20 }}</td>-->
                <td>{{ post.post_rating }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.position }}</td>
                <td>{{ post.categories.all.first }}</td>
                <td>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">OPEN</a>
                    {% if request.user|lower == post.author|lower or request.user|lower == "admin" %}
                    <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-warning">CHANGE</a>
                    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">DELETE</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1%}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number%}">{{page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number%}">{{page_obj.next_page_number}}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages%}">{{page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
<hr>
<form action="" method="post">
    {% csrf_token %}
    <label>Email</label>
    <input name="email">
    <label>Name</label>
    <input name="name">
    <button type="submit">Отправить</button>
</form>
<hr><br><br>
{% endblock content %}