{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
{{ post.headline }}
{% endblock title %}

{% block content %}
<h4>{{ post.headline }} </h4>
<p>Дата создания - {{ post.date }} </p>
<p>{{ post.content|censor }} </p>
<p>Рейтинг - {{ post.post_rating }} </p>
<p>Автор - {{ post.author }} </p>
<p>
    <div class="col text-center">
    <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-secondary">CHANGE</a>
    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-warning">DELETE</a>
</div>
</p>
<p>Комментарии {{ comment.content }}</p>
{% endblock content %}